.title {
   text-align: center;
   font-size: 50px;
}

.text {
   padding: 20px;
   background-color: #ccc;
   font-size: 30px;
   text-align: center;
   color: rgb(153, 135, 235);
   font-weight: 500;
}